.grid {
  position: relative;
  margin: 0 auto;
  height: 89%;
  overflow-y: scroll;
  width: 100%;
  padding: 2em 3em;

  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}

.topside {
  grid-column: 1/3;
  grid-row: 1/2;
}

.bar {
  background-color: bisque;
  grid-column: 1/2;
  grid-row: 2/3;
}

.pie {
  background-color: aqua;
  grid-column: 2/3;
  grid-row: 2/3;
}
