.dash-chart {
  flex: 1 1 80%;
}

.bar-chart,
.pie-chart-holder,
.pie-chart {
  min-height: unset;
}

.bar-chart > div {
  overflow-x: scroll;
}

.bar-chart div svg {
  margin-right: 1em;
}

@media screen and (min-width: 480px) {
  .bar-chart > div {
    display: flex;
    justify-content: center;
  }

  .bar-chart div svg {
    margin-right: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .dash-chart {
    flex-direction: column;
  }

  .bar-chart,
  .pie-chart-holder,
  .pie-chart {
    width: 100%;
  }

  .pie-chart {
    margin: 0.4em 0em;
  }
}

@media (min-width: 780px) and (max-width: 1380px) {
}
