html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.4;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: inherit;
}

a,
a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}
